<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd"> -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Iksanika_Productmanage::product_manager" title="Products Manager (Advanced)" module="Iksanika_Productmanage" sortOrder="21" parent="Magento_Catalog::inventory" action="productmanage/product/" resource="Iksanika_Productmanage::productmanage"/>
    </menu>
</config>
