<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_shipment_track_save_after">
        <observer name="rueducommerce_shipment_tracking_info" instance="Ced\RueDuCommerce\Observer\Shipment" />
    </event>
    <event name="catalog_product_save_after">
        <observer name="rueducommerce_product_save_after" instance="Ced\RueDuCommerce\Observer\Save" />
    </event>
    <event name="sales_order_creditmemo_refund">
        <observer name="rueducommerce_sales_order_creditmemo_refund" instance="Ced\RueDuCommerce\Observer\Refund" />
    </event>
</config>