<?xml version="1.0"?>
<!--
/**
  * CedCommerce
  *
  * NOTICE OF LICENSE
  *
  * This source file is subject to the End User License Agreement (EULA)
  * that is bundled with this package in the file LICENSE.txt.
  * It is also available through the world-wide-web at this URL:
  * http://cedcommerce.com/license-agreement.txt
  *
  * @category    Ced
  * @package     Ced_Cdiscount
  * @author      CedCommerce Core Team <connect@cedcommerce.com>
  * @copyright   Copyright CEDCOMMERCE (http://cedcommerce.com/)
  * @license     http://cedcommerce.com/license-agreement.txt
  */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Ced\Cdiscount\Helper\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Ced\Cdiscount\Helper\Logger">
        <arguments>
            <argument name="name" xsi:type="string">Cdiscount</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Ced\Cdiscount\Helper\Handler</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Ced\Cdiscount\Ui\DataProvider\Product\Modifier\Pool"
                 type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="product-modifier" xsi:type="array">
                    <item name="class" xsi:type="string">
                        Ced\Cdiscount\Ui\DataProvider\Product\Modifier\ProductModifier
                    </item>
                    <item name="sortOrder" xsi:type="number">20</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Ced\Cdiscount\Ui\DataProvider\Product\CdiscountProduct">
        <arguments>
            <argument name="pool" xsi:type="object">Ced\Cdiscount\Ui\DataProvider\Product\Modifier\Pool</argument>
            <argument name="addFilterStrategies" xsi:type="array">
                <item name="cdiscount_feed_product" xsi:type="object">Ced\Cdiscount\Ui\DataProvider\Product\AddProductStatusCollection</item>
            </argument>
            <argument name="collectionFactory" xsi:type="object">
                Magento\Catalog\Model\ResourceModel\Product\CollectionFactory
            </argument>
        </arguments>
    </type>

    <type name="Magento\Config\Model\Config">
        <plugin name="cdiscount_admin_system_config_save_plugin"
                type="Ced\Cdiscount\Plugin\Config"
                sortOrder="10"
                disabled="false"
        />
    </type>

    <type name="Magento\Framework\View\Asset\Minification">
        <plugin name="cdiscount-exclude" type="Ced\Cdiscount\Plugin\ExcludeFilesFromMinification"/>
    </type>

</config>