/* Boxed Layout */
body.boxed-lg .page-wrapper{
    box-shadow: 0 0 5px #d5d5d5;
    margin: 0 auto;
    max-width: 1240px;
}
body.boxed-md .page-wrapper{
    box-shadow: 0 0 5px #d5d5d5;
    margin: 0 auto;
    max-width: 1000px;
}
body.boxed-md .page-wrapper .container,
body.boxed-md .page-wrapper .page-main{
    width: 100%;
}
.my-promotion > .block-content{ padding: 10px; }
.my-promotion .promotion-bottom {
    position: absolute;
    bottom: 30px;
}
.my-promotion .subscribe input[type="email"] {
    float: left;
    padding: 2px 13px;
    line-height: 30px;
    width: 100%;
    height: 34px;
}
.my-promotion .subscribe .actions {
    float: left;
    margin-left: -55px;
    position: relative;
    z-index: 1;
    width: 55px;
    border-left: 1px solid #ccc;
}
.my-promotion .subscribe .action.btn-primary {
    height: 34px;
    line-height: 34px;
    padding: 0;
    text-align: center;
    width: 100%;
    border: 0;
}
.tooltip > .tooltip-inner {background-color: #000; color: #FFF;}