<?xml version="1.0"?>
<!--
/**
* Magedelight
* Copyright (C) 2017 Magedelight <info@magedelight.com>
*
* @category Magedelight
* @package Magedelight_Megamenu
* @copyright Copyright (c) 2017 Mage Delight (http://www.magedelight.com/)
* @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
* @author Magedelight <info@magedelight.com>
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magedelight" translate="label" sortOrder="300">
            <label>Magedelight</label>
        </tab>
        <section id="magedelight" translate="label" type="text" sortOrder="1" showInStore="1" showInDefault="1" showInWebsite="1">
            <class>separator-top</class>
            <label>Megamenu</label>
            <tab>magedelight</tab>
            <resource>Magedelight_Megamenu::config_megamenu</resource>
            <group id="license" translate="label" type="text" sortOrder="1" showInDefault="1" showInStore="1" showInWebsite="1">
                <label>License Configuration</label>
                <field id="serial_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Serial Key</label>
                    <comment><![CDATA[Enter the serial key that you received at time of purchase.]]></comment>
                </field>
                <field id="activation_key" translate="label" type="text" sortOrder="2" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Activation Key</label>
                    <comment><![CDATA[Enter the activation key that you received at time of purchase.]]></comment>
                </field>
            </group>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInStore="1" showInWebsite="1">
                <label>General Configuration</label>
                <field id="select_website" translate="label" type="multiselect" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Select Website</label>
                    <source_model>Magedelight\Megamenu\Model\Config\Source\Website</source_model>
                    <comment>Please save serial and activation keys to get the available options.</comment>
                </field>
                <field id="megamenu_status" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="0">
                    <label>Enable Megamenu</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="primary_menu" type="select" translate="label" sortOrder="2" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Select Primary Menu</label>
                    <source_model>Magedelight\Megamenu\Model\Menu\Source\MenuList</source_model>
                </field>
                <field id="animation_time" translate="label" type="text" sortOrder="3" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Animation Time</label>
                    <comment><![CDATA[Enter the default animation time in seconds.]]></comment>
                </field>
            </group>
            <group id="logs_settings" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="5" translate="label">
                <label>Logs Settings</label>
                <field id="enable_logs" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label" type="select">
                    <label>Enable Logs</label>
                    <comment>Logs are saved in var/log/md_megamenu.log</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
