<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <potato_image_optimization>
            <general>
                <image_backup>1</image_backup>
            </general>
        </potato_image_optimization>
    </default>
</config>