.productlist-widget{
	float: left;
	width: 100%
}
.productlist-widget .etabs {
	margin: 0;
	padding: 0;
	text-align: center
}
.productlist-widget .tab {
	display: inline-block;
	zoom: 1;
	background: #fff;
	border: 0;
	text-align: center;
	position: relative;
	z-index: 2;
	margin-right: 5px;
}
.productlist-widget .tab-container .panel-container {
	background: #fff;
	border: solid #666 1px;
	padding: 10px;
	-moz-border-radius: 0 4px 4px 4px;
	-webkit-border-radius: 0 4px 4px 4px;
}
.productlist-widget .product-item-info .hover-image{
	display: none;
}
.panel-container {
	margin-bottom: 10px;
	float:left; width: 100%
}
.productlist-widget{
	width: 100%;
	float: left;
}
.productlist-widget .tab a { 
	font-size: 18px;
	line-height: 2em; 
	display: block; 
	padding: 0 10px; 
	color: #333333;
}
.productlist-widget .paneltab{
	min-height: 300px;
}
.productlist-widget .tab a:hover{
	text-decoration: none
}
.productlist-widget .productlist-wait{
	height: 300px;
	background: url('../images/loading.gif') center no-repeat;
}
.ves-products-grid .product-item-info:hover,
.ves-products-grid .product-item-info.active {
	margin: -10px;
	padding: 9px;
	border: 1px solid #bbb;
	box-shadow: 3px 3px 4px 0 rgba(0,0,0,0.3);
	position: relative;
	z-index: 2;
	background: #fff
}
.product-item-info .item-countdown {
	padding: 0px;
}
.product-item-info .item-countdown ul {
	margin: 0px;
	padding: 0px;
}
.product-item-info .item-countdown ul li {
	margin: 0px;
	width: 42px;
	height: 52px;
	text-align: center;
	border-right: 1px solid #CCC;
	font-size: 11px;
	color: #000;
	line-height: 16px;
	padding: 9px 0px;
	float: left;
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #CCC;
}
.product-item-info .item-countdown ul li:first-child{
	border-left: 1px solid #CCC;
}
.product-item-info .item-countdown ul li div.countdown_num span {
	background: none;
	border: none;
	padding: 0px;
	font-weight: 800;
}
.product-item-info .item-countdown ul div {
	text-transform: uppercase;
	font-size: 11px;
}
.product-image:hover .product-item-photo{display: block}
.product-image:hover .hover-image{display: block}

.product-block .product-item-info:hover .hover-image, .product-block .product-item-info:focus .hover-image {
    opacity: 1;
    transition: all 0.4s ease-out 0s;
    visibility: visible;
}
.product-block .product-image .hover-image {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.4s ease-in-out 0s;
    visibility: hidden;
    width: 100%;
    z-index: 1;
}
