<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Store/etc/config.xsd">
    <default>
        <mirasvit>
            <feed>
                <enabled>1</enabled>
            </feed>
        </mirasvit>
        <feed>
            <generation>
                <iteration_size>50</iteration_size>
            </generation>
        </feed>
    </default>
</config>
