<?xml version="1.0"?>

<!--
/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement (EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://cedcommerce.com/license-agreement.txt
 *
 * @category    Ced
 * @package     Ced_Integrator
 * @author      CedCommerce Core Team <connect@cedcommerce.com>
 * @copyright   Copyright CedCommerce (http://cedcommerce.com/)
 * @license     http://cedcommerce.com/license-agreement.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="cedcommerce" sortOrder="10">
            <label>Cedcommerce</label>
        </tab>
        <section id="ced_integrator" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Integrator</label>
            <tab>cedcommerce</tab>
            <resource>Ced_Integrator::system_config</resource>
            <group id="settings" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0"
                   showInStore="0"
            >
                <label>Settings</label>
                <field id="menu_merge" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Merge Menu</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>This will merge all integration menu by cedcommerce in a single menu. [BETA]</comment>
                </field>

                <field id="api_token" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Service Token</label>
                    <comment>This will enable all services provided by cedcommerce. [BETA]</comment>
                </field>

                <field id="geocode_key" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Google Geocode Key</label>
                    <comment>To update address data from Google Geocode API. [BETA]</comment>
                </field>

            </group>
        </section>
    </system>
</config>
