<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd"> 
    <module name="BoostMyShop_AdminLogger" schema_version="1.0.4" setup_version="1.0.4" >

    </module>
</config>