<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement (EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://cedcommerce.com/license-agreement.txt
 *
 * @category    Ced
 * @package     Ced_Amazon
 * @author      CedCommerce Core Team <connect@cedcommerce.com>
 * @copyright   Copyright © 2018 CedCommerce. All rights reserved.
 * @license     EULA http://cedcommerce.com/license-agreement.txt
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Overriding allowed countries    -->
    <type name="Magento\Directory\Model\AllowedCountries">
        <plugin name="amazon-order-country" type="Ced\Amazon\Plugin\Order\AllowedCountries" />
    </type>
    <preference for="Magento\Directory\Helper\Data" type="Ced\Amazon\Helper\Directory\Data"/>
    <!-- Plugin for MSI backorders for Amazon Orders    -->
    <type name="Magento\InventorySales\Model\IsProductSalableCondition\BackOrderCondition">
        <plugin name="amazon-order-backorder" type="Ced\Amazon\Plugin\Order\BackOrderCondition" />
    </type>
</config>